<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="/bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="/css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">

</head>
<body>

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <%- include partial/dashboard_sidebar %>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container">

            <div class="page-header">
                <h3><span class="glyphicon glyphicon-dashboard"></span> <%= __('updateadvertising') %></h3>
            </div>

            <div class="container">
                <form action="/advertising/update" method="POST">
                    <div class="form-group" style="margin-bottom:10px;">
                        <input type="text" name="adv_name" value="<%- ad.adv_name %>" placeholder="<%= __('advertisingname') %>" class="form-control">
                    </div>
                    <div class="form-group">
                        <textarea id="html_content" name="html_content">
                            <%- ad.html_content %>
                        </textarea>
                    </div>
                    <input type="hidden" name="advertising_id" value="<%- ad._id %>">
                    <input type="submit" class="btn btn-success" value="<%= __('updateadvertising') %>" class="form-control" style="margin-top:10px;">
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="//cdn.ckeditor.com/4.4.7/full/ckeditor.js"></script>

<script>
    CKEDITOR.replace('html_content');
</script>

</body>
</html>