<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">

    <script>
        var buttons = {
            departure: '<button class="btn btn-primary btn-sm" type="button">' + '<%= __('departure') %>' + '</button>',
            pending: '<button class="btn btn-success btn-sm" type="button">' + '<%= __('pending') %>' + '</button>',
            arrival: '<button class="btn btn-danger btn-sm" type="button">' + '<%= __('arrival') %>' + '</button>'
        };
    </script>

</head>
<body>

<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">

                <form accept-charset="UTF-8" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control" id="clientFirstnameUpdate" placeholder="<%= __('client_firstname') %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="clientLastnameUpdate" placeholder="<%= __('client_lastname') %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="meetingReasonUpdate" placeholder="<%= __('reason') %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="meetingDatetimeUpdate" placeholder="<%= __('meeting_datetime') %>">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="meetingStatusUpdate" placeholder="<%= __('meeting_status') %>">
                            <option value="pending"><%= __('pending') %></option>
                            <option value="departure"><%= __('departure') %></option>
                            <option value="arrival"><%= __('arrival') %></option>
                        </select>
                    </div>
                    <input type="hidden" id="meetingIdUpdate">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><%= __('close') %></button>
                <button type="button" class="btn btn-error" id="delBtn"><%= __('remove_meeting') %></button>
                <button type="button" class="btn btn-primary" id="updBtn"><%= __('save') %></button>
            </div>
        </div>
    </div>
</div>

<div class="row affix-row">
    <div class="col-sm-3 col-md-2 affix-sidebar">
        <div class="sidebar-nav">
            <%- include partial/dashboard_sidebar %>
        </div>
    </div>
    <div class="col-sm-9 col-md-10 affix-content">
        <div class="container">

            <div class="page-header">
                <h4><span class="glyphicon glyphicon-pencil"></span> <%= __('company_info') %></h4>
            </div>

            <form class="form-inline">
                <div class="form-group">
                    <label for="company_name">Nom société</label>
                    <input type="text" class="form-control" id="company_name" placeholder="<%= __('company_name') %>" value="<%= company_name %>">
                </div>
                <button class="btn btn-default btn-success" id="saveBtn"><%= __('save') %></button>
            </form>

        </div>
    </div>
</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/dynatable/jquery.dynatable.js"></script>
<script src="js/lib/socket.io.js"></script>
<script src="js/lib/jquery.datetimepicker.js"></script>
<script src="js/company.js"></script>

</body>
</html>