<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="css/front.css" rel="stylesheet">

    <script>
        var buttons = {
            departure: '<button class="btn btn-primary btn-sm" type="button">' + '<%= __('departure') %>' + '</button>',
            pending: '<button class="btn btn-success btn-sm" type="button">' + '<%= __('pending') %>' + '</button>',
            arrival: '<button class="btn btn-danger btn-sm" type="button">' + '<%= __('arrival') %>' + '</button>'
        };
    </script>
    
</head>
<body>

<input type="hidden" id="ws_addr" value="<%= ws_addr %>">

<div class="container">

    <div class="row affix-row jumbotron">
        <div class="col-xs-10">
            <h2 id="showTime"></h2>
        </div>
        <div class="col-xs-2">
            <div id="weather" class="row">
                <div class="col-xs-6">
                    <h3 id="weatherTemperature"></h3>
                </div>
                <div class="col-xs-6">
                    <canvas id="weatherIcon" width="128" height="128"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row affix-row">
        <div class="col-xs-12">

            <div class="meetingList">

                <table class="table table-striped" id="meetingList">
                    <thead>
                    <th data-dynatable-column="clientFirstname"><%= __('client_firstname') %></th>
                    <th data-dynatable-column="clientLastname"><%= __('client_lastname') %></th>
                    <th data-dynatable-column="meetingReason"><%= __('reason') %></th>
                    <th data-dynatable-column="meetingDatetime"><%= __('meeting_datetime') %></th>
                    <th data-dynatable-column="meetingStatus"><%= __('meeting_status') %></th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>

            </div>

        </div>
    </div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/dynatable/jquery.dynatable.js"></script>
<script src="js/lib/socket.io.js"></script>
<script src="js/lib/skycons.js"></script>
<script src="js/lib/jquery.datetimepicker.js"></script>
<script src="js/front.js"></script>

</body>
</html>