<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front</title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/sweetalert/lib/sweet-alert.css" rel="stylesheet">
    <link href="bower_components/dynatable/jquery.dynatable.css" rel="stylesheet">
    <link href="css/lib/jquery.datetimepicker.css" rel="stylesheet">
    <link href="css/front.css" rel="stylesheet">

    <script>
        var buttons = {
            repairing: '<button class="btn btn-primary btn-sm" type="button">' + '<%= __('repairing') %>' + '</button>',
            pending: '<button class="btn btn-success btn-sm" type="button">' + '<%= __('pending') %>' + '</button>',
            finished: '<button class="btn btn-danger btn-sm" type="button">' + '<%= __('finished') %>' + '</button>'
        };
    </script>

</head>
<body>

<input type="hidden" id="ws_addr" value="<%= ws_addr %>">

<div class="container-fluid">
    <div class="row affix-row red-header">
        <div class="col-xs-10">
            <img src="img/logo.png" class="pull-left" style="padding:10px;margin-top:11px;">

            <h2><%= company_name %></h2>
            <h4>Toyota STAMCAR vous souhaite la bienvenue</h4>
        </div>
        <div class="col-xs-2">
            <div id="weather" class="row">
                <div class="col-xs-6">
                    <h4 id="weatherTemperature"></h4>
                </div>
                <div class="col-xs-6">
                    <canvas id="weatherIcon" width="45" height="45"></canvas>
                </div>
                <h5 id="showTime"></h5>
            </div>
        </div>
    </div>
</div>

<div id="slide-container" class="container-fluid">

    <div class="slide-wrapper">

        <% for(var i = 0; i < advs.length; i++) { %>

        <% if(i % 2 == 0) { %>

        <% if(meetings.length > 7) {
            var pageCount = meetings.length / 7;
            pageCount = Math.ceil(pageCount);
        } %>

        <% for(var p = 0; p < pageCount; p++) { %>

            <div class="slide">

                <div class="row affix-row">
                    <div class="col-xs-12">

                        <div class="meetingList">

                            <table class="table table-striped" id="meetingList">
                                <thead>
                                <th><%= __('client_lastname') %></th>
                                <th><%= __('reason') %></th>
                                <th><%= __('meeting_time') %></th>
                                <th><%= __('meeting_status') %></th>
                                </thead>
                                <tbody>
                                    <% var u = 0;

                                    if(p == 0) {
                                        u = 0;
                                    }
                                    else {
                                        u = p*7;
                                    } %>
                                    <% for(var u = u; u < p*7+7; u++) { %>
                                        <% if(meetings[u]) { %>
                                        <tr>
                                            <td><%= meetings[u].clientFirstname %> <%= meetings[u].clientLastname %></td>
                                            <td><%= meetings[u].meetingReason %></td>
                                            <td><%= meetings[u].meetingDatetime.getHours() %>H<% if(meetings[u].meetingDatetime.getMinutes() != '0') {%><%= meetings[u].meetingDatetime.getMinutes() %><% } %></td>
                                            <td><%= meetings[u].meetingStatus %></td>
                                        </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>

            </div>

        <% } %>

        <% } else { %>

        <div class="slide"><%- advs[i].html_content %></div>

        <% } %>
        <% } %>

    </div>

</div>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/sweetalert/lib/sweet-alert.min.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/moment/locale/fr.js"></script>
<script src="bower_components/dynatable/jquery.dynatable.js"></script>
<script src="js/lib/socket.io.js"></script>
<script src="js/lib/skycons.js"></script>
<script src="js/lib/jquery.datetimepicker.js"></script>
<script src="js/lib/sliderdiv.js"></script>
<script src="js/front.js"></script>

<script type="text/javascript">
    // After page load
    var slider = new SliderDiv();
    slider.autoPlay(7500);
</script>

</body>
</html>